@model AmilcarComercial.Models.Tbl_Marca

@{ 
    Layout = null;
}

<div class="sucursal-nuevo">
    <div class="row blue-grey darken-4">
        <h4 class="white-text left-align"><i class="material-icons">add_box</i>Eliminar Marca</h4>
    </div>
    <div class="row">
        @using (Ajax.BeginForm("Edit", "Marcas", new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "sucursales",
            InsertionMode = InsertionMode.InsertAfter
        }))
        {
            @Html.AntiForgeryToken()
            <div class="col l12">
                <figure>
                    <img src="~/Content/images/marcas/@Model.imagen" class="responsive-img" />
                    <figcaption>Imagen Actual</figcaption>
                </figure>
            </div>
            <div class="col l12">
                <div class="input-field col l12">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label" })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
                <div class="col l12 right-align">
                    <input type="submit" value="Cancelar" class="btn red" />
                    <input type="submit" value="Editar" class="btn blue" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
