<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/Content/system-resources/AM-Logo.ico" />
    <title>@ViewBag.Title - AmilcarComercial</title>
    @Styles.Render("~/Content/fonts")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/libraries")    
    @RenderSection("Styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="grey lighten-5">
    <header>
        <div class="navbar-fixed">
            <nav>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                <div class="nav-wrapper @ViewBag.PrimaryColor z-depth-2">
                    <div class="logo-container">
                        <a href="@Url.Action("Index","Home")" class="brand-logo center hide-on-med-and-down"><img src="~/Content/system-resources/AM-Logo2.png"/></a>
                        <a class="show-hidde hidde-side-nav hide-on-med-and-down"><i class="material-icons">menu</i></a>
                    </div>
                    <a href="#!" class="brand-logo center hide-on-large-only"><img src="~/Content/system-resources/AM-Logo2.png" /></a>
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </div>
    </header>
    <main class="layout">
        <aside>
            <ul id="slide-out" class="side-nav fixed mCustomScrollbar" data-mcs-theme="minimal-dark">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="~/Content/system-resources/side-nav-background.jpg" class="responsive-img">
                        </div>
                        <a href="#!user"><img class="circle avatar" src=""></a>
                        <a href="#!name"><span class="grey-text text-darken-3 name"></span></a>
                        <a href="#!email"><span class="grey-text text-darken-3 email rol"></span></a>
                    </div>
                </li>
                <li><a class="item waves-effect" data-position="right" data-delay="50" data-tooltip="Inicio" href="@Url.Action("Index", "Home")">
                    <i class="icono inicio"></i><span>Inicio</span></a>
                </li>
                <li><div class="divider"></div></li>
                <li><a class="item waves-effect" data-position="right" data-delay="50" data-tooltip="Estadisticas" href="@Url.Action("Index","Estadisticas")">
                    <i class="icono estadisticas"></i><span>Estadisticas</span></a>
                </li>
                <li class="sub"><a class="subheader">Opciones</a></li>
                <li><a class="item waves-effect" data-position="right" data-delay="50" data-tooltip="Ventas" href="@Url.Action("Index","Ventas")">
                    <i class="icono ventas"></i><span>Ventas</span></a>
                </li>
                <li>
                    <a class="item waves-effect" data-position="right" data-delay="50" data-tooltip="Compras" href="@Url.Action("Index","Compras")">
                        <i class="icono compras"></i><span>Compras</span>
                    </a>
                </li>
                <li><a class="item waves-effect" data-position="right" data-delay="50" data-tooltip="Credito" href="#!">
                    <i class="icono credito"></i><span>Credito</span></a>
                </li>
                <li><a class="item waves-effect" data-position="right" data-delay="50" data-tooltip="Inventario" href="@Url.Action("Index","Inventario")">
                    <i class="icono inventario"></i><span>Inventario</span></a>
                </li>
                <li>
                    <a class="item waves-effect" data-position="right" data-delay="50" data-tooltip="Kardex" href="@Url.Action("Index","Kardex")">
                        <i class="icono kardex"></i><span>Kardex</span>
                    </a>
                </li>
                <li class="item-hidden hide">
                    <a class="item waves-effect" data-position="right" data-delay="50" data-tooltip="Catalogos" href="@Url.Action("Catalogos","Home")">
                        <i class="icono catalogos"></i>
                    </a>
                </li>
                <li class="submenus no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="item collapsible-header waves-effect" data-position="right" data-delay="50" data-tooltip="Catalogos">
                                <i class="icono catalogos left"></i>
                                <span>Catalogos</span>
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="@Url.Action("Index","Articulos")"><i class="material-icons tiny">subdirectory_arrow_right</i>Articulos</a></li>
                                    <li><a href="@Url.Action("Index","Categorias")"><i class="material-icons tiny">subdirectory_arrow_right</i>Categorias</a></li>
                                    <li><a href="@Url.Action("Index","Marcas")"><i class="material-icons tiny">subdirectory_arrow_right</i></i>Marcas</a></li>
                                    <li><a href="@Url.Action("Index","Proveedores")"><i class="material-icons tiny">subdirectory_arrow_right</i>Proveedores</a></li>
                                    <li><a href="@Url.Action("Index","Clientes")"><i class="material-icons tiny">subdirectory_arrow_right</i>Clientes</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a class="item waves-effect" data-position="right" data-delay="50" data-tooltip="Reportes" href="#!">
                     <i class="icono reportes"></i><span>Reportes</span></a>
                </li>
                <li><div class="divider"></div></li>
                <li class="sub"><a class="subheader">Preferencias</a></li>
                <li class="submenus no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="item collapsible-header waves-effect" data-position="right" data-delay="50" data-tooltip="Configuracion">
                                <i class="icono config left"></i>
                                <span>Configuracion</span>
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a class="item waves-effect" data-position="right" data-delay="50" data-tooltip="Usuarios" href="@Url.Action("Index","UsersAdmin")">
                                            <i class="material-icons tiny">subdirectory_arrow_right</i><i class="icono usuarios"></i><span>Usuarios</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="item waves-effect" data-position="right" data-delay="50" data-tooltip="Sucursales" href="@Url.Action("Index","Sucursales")">
                                            <i class="material-icons tiny">subdirectory_arrow_right</i><i class="icono sucursal"></i><span>Sucursales</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>             
                    </ul>
                </li>
                <li class="item-hidden hide">
                    <a class="item waves-effect" data-position="right" data-delay="50" data-tooltip="Configuracion" href="@Url.Action("Configuracion","Home")">
                        <i class="icono config"></i>
                    </a>
                </li>
                <li>
                    <a class="item waves-effect" data-position="right" data-delay="50" data-tooltip="Ayuda" href="#!">
                        <i class="icono ayuda"></i><span>Ayuda</span>
                    </a>
                </li>
            </ul>
        </aside>
        <section class="content">
            @RenderBody()
        </section>
    </main>
    <footer>
        <div>
            <p class="left hide-on-small-and-down">Seminario de Graduacion - Ingenieria en Ciencias de la Computacion</p>
            <p class="right">&copy; UNAN-Managua, FAREM-Carazo</p>
        </div>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/libraries")
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            user();
            $('.button-collapse').sideNav({
                menuWidth: 260,
                draggable: true
            });
            $('select').material_select();
            $(window).resize(function () {
                var ventana_ancho = $(window).width();

                if (ventana_ancho <= 992 /*&& $("aside .show-hidde").hasClass('.show-side-nav') === true*/) {
                    mostrar();
                    $('body main.layout .content').css("padding-left", "0px").fadeIn("4000");
                    $('a.show-hidde').addClass('hidde-side-nav');
                }
                else if (ventana_ancho > 992) {
                    $('body main.layout .content').css("padding-left", "260px").fadeIn("4000");
                }
            })
            $(".show-hidde").on("click", function () {
                if ($(this).hasClass('hidde-side-nav')) {
                    ocultar();
                    $('a.show-hidde').removeClass('hidde-side-nav');
                    $('a.show-hidde').addClass('show-side-nav');
                }
                else if ($(this).hasClass('show-side-nav')) {
                    mostrar();
                    $('a.show-hidde').removeClass('show-side-nav');
                    $('a.show-hidde').addClass('hidde-side-nav');
                }
            });
        });
        function ocultar() {
            $('.user-view').hide("slow", "swing");
            $('.material-icons.right').hide("slow", "swing");
            $('.side-nav span').hide("slow", "swing");
            $('.side-nav li.sub a.subheader').hide("slow", "swing");
            $('.side-nav li.submenus').hide("slow", "swing");

            $('.side-nav').css({ "width": "70px", "padding-top": "17px" }).fadeIn("4000");
            $('.side-nav li > a.item').css("padding", "0 21px").fadeIn("4000");
            $('.side-nav li a i').css("width", "28px").fadeIn("4000");
            $('body main.layout .content').css("padding-left", "70px").fadeIn("4000");
            $('footer').css("padding-left", "70px").fadeIn("4000");
            $('.hidde-side-nav i').css("transform", "rotate(180deg)");

            $('.side-nav li > a').addClass("tooltipped");
            $('.side-nav li.item-hidden').removeClass("hide");

            $('.tooltipped').tooltip({ delay: 50 });
        }
        function mostrar() {
            $('.user-view').show("slow", "swing");
            $('.material-icons.right').show("slow", "swing");
            $('.side-nav span').show("slow", "swing");
            $('.side-nav li.sub a.subheader').show("slow", "swing");
            $('.side-nav li.submenus').show("slow", "swing");

            $('.side-nav').css({ "width": "260px", "padding-top": "0px" }).fadeIn("4000");
            $('.side-nav li > a.item').css("padding", "0 32px").fadeIn("4000");
            $('.side-nav li a i').css("width", "24px").fadeIn("4000");
            $('body main.layout .content').css("padding-left", "260px").fadeIn("4000");
            $('footer').css("padding-left", "280px").fadeIn("4000");
            $('.show-side-nav i').css("transform", "rotate(360deg)");

            $('.side-nav li.item-hidden').addClass("hide");

            $('.tooltipped').tooltip('remove');
        }
        function user() {
            $.ajax({
                url: '/home/user',
                type: 'GET',
                'success': function (data) {
                    $(".user-view .name").text(data.Nombre + ' ' + data.Apellidos);
                    $(".user-view .rol").text(data.Rol);
                    $(".user-view .avatar").attr("src", "../Content/images/usuarios/" + data.Foto);
                    $(".option-system .name").text(data.Nombre + ' ' + data.Apellidos);
                },
                'error': function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        }
    </script>
</body>
</html>