<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AmilcarComercial</title>
    @Styles.Render("~/Content/fonts")
    @Styles.Render("~/Content/css")
</head>
<body>
    <main>
        @RenderBody()
    </main>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @RenderSection("Scripts", required: false)
</body>
</html>
