@model AmilcarComercial.Models.Tbl_Proveedor

@{
    Layout = null;
}

<div class="proveedor-detalle cyan">
    <div class="row white z-depth-1">
        <h4 class="grey-text text-darken-3 left-align"><i class="material-icons">info</i>Detalle de Proveedor</h4>
    </div>
    <div class="modal-content row white-text">
        <div class="col l5">
            <figure>
                <img src="~/Content/system-resources/proveedor-Default.png" class="responsive-img" />
            </figure>
        </div>
        <div class="col l7">
            <p><strong>Nombre:</strong> @Model.razon_social</p>
            <p><strong>N° Tel:</strong> @Model.telefono</p>
            <p><strong>N° Ruc:</strong> @Model.Ruc</p>
            <span><strong>Estado:</strong></span>
            <div class="col l12 center-align">
                <div class="switch">
                    <label class="white-text">
                        Inactivo
                        <input disabled type="checkbox">
                        <span class="lever"></span>
                        Activo
                    </label>
                </div>
            </div>
            <div class="acciones col l12 right-align">
                @Ajax.ActionLink("Editar", "Edit", "Proveedores", new { id = Model.id_proveedor }, new AjaxOptions
                {
                    UpdateTargetId = "editar",
                    HttpMethod = "GET"
                }, new { @class = "btn btn-flat white blue-text", @onclick = "$('#editar').modal('open');" })
                @Ajax.ActionLink("Eliminar", "Delete", "Proveedores", new { id = Model.id_proveedor }, new AjaxOptions
                {
                    UpdateTargetId = "eliminar",
                    HttpMethod = "GET"
                }, new { @class = "btn btn-flat white red-text", @onclick = "$('#eliminar').modal('open');" })
            </div>
        </div>
    </div>
</div>
