@model IEnumerable<AmilcarComercial.Models.Tbl_Proveedor>

@{
    ViewBag.Title = "Catalogos";
    ViewBag.SubTitle = "Proveedores";
    ViewBag.ControllerGeneral = "Home";
    ViewBag.PrimaryColor = "cyan";
    ViewBag.NavExtendedColor = "cyan darken-1";
}

<nav class="breadcrumb-nav nav-extended @ViewBag.NavExtendedColor">
    @Html.Partial("_breadcrumbPartial")
</nav>

<div class="row titulo-catalogo">
    <div class="container-mio">
        <div class="col l12">
            <h5>Lista de Proveedores</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="container-mio proveedores" id="proveedores">
        @foreach (var proveedor in Model)
        {
            <div class="col l4">
                <div class="card horizontal white hoverable">
                    <div class="col l4 cyan contenedor-img">
                        <img src="~/Content/system-resources/proveedor-Default.png" class="responsive-img">
                    </div>
                    <div class="col l8 card-content">
                        <div class="opciones">
                            <a class='dropdown-button grey-text text-darken-3 tooltipped' href='#' data-activates='@proveedor.id_proveedor' data-position="opcionesCatalogo" data-delay="50" data-tooltip="Opciones">
                                <i class="material-icons right">more_vert</i>
                            </a>
                            <ul id='@proveedor.id_proveedor' class='dropdown-content'>
                                <li>
                                    @Ajax.ActionLink("Detalles", "Details", "Proveedores", new { id = proveedor.id_proveedor }, new AjaxOptions
                               {
                                   UpdateTargetId = "detalle",
                                   HttpMethod = "GET"
                               }, new { @class = "", @onclick = "$('#detalle').modal('open');" })
                                </li>
                                <li>
                                    @Ajax.ActionLink("Editar", "Edit", "Proveedores", new { id = proveedor.id_proveedor }, new AjaxOptions
                               {
                                   UpdateTargetId = "editar",
                                   HttpMethod = "GET"
                               }, new { @class = "", @onclick = "$('#editar').modal('open');" })
                                </li>
                                <li>
                                    @Ajax.ActionLink("Eliminar","Delete", "Proveedores", new { id = proveedor.id_proveedor }, new AjaxOptions
                               {
                                   UpdateTargetId = "eliminar",
                                   HttpMethod = "GET",
                               }, new { @class = "", @onclick = "$('#eliminar').modal('open');" })
                                </li>
                            </ul>
                        </div>
                        <span class="card-title truncate tooltipped" data-position="tituloCatalogo" data-delay="50" data-tooltip="@proveedor.razon_social">@proveedor.razon_social</span>
                        <p>Tel: @proveedor.telefono</p>
                        @if (proveedor.Estado == true)
                        {
                            <p>Activo</p>
                        }
                        else
                        {
                            <p>Inactivo</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div> 
<div class="fixed-action-btn">
    @Ajax.ActionLink("add", "Create", "Proveedores", new AjaxOptions
{
    UpdateTargetId = "nuevo", // <-- DOM element ID to update
    InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
    HttpMethod = "GET" // <-- HTTP method,
}, new { @class = "modal-trigger btn-floating btn-large blue-grey darken-4 pulse material-icons", @onclick = " $('#nuevo').modal('open');" })
</div>

<div id="detalle" class="modal modal-small"></div>
<div id="nuevo" class="modal modal-small"></div>
<div id="editar" class="modal modal-small"></div>
<div id="eliminar" class="modal modal-mini"></div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.modal').modal();
            $('.tooltipped').tooltip({ delay: 50 });
        });
        function OnSuccess() {
            Materialize.toast('Proveedor Agregado Correctamente', 4000);
            $('#nuevo').modal('close');
        }
        function OnDelete() {
            Materialize.toast('Proveedor Eliminado Correctamente', 4000);
            $('#eliminar').modal('close');
        }
        function OnEdit() {
            Materialize.toast('Proveedor Editado Correctamente', 4000);
            $('#editar').modal('close');
        }
    </script>
    @Scripts.Render("~/bundles/jqueryajax")
}