@model IEnumerable<AmilcarComercial.Models.Tbl_Proveedor>

@{ 
    Layout = null;
}

@foreach (var proveedor in Model)
{
    <div class="col l4">
        <div class="card horizontal white hoverable">
            <div class="col l4 cyan contenedor-img">
                <img src="~/Content/system-resources/proveedor-Default.png" class="responsive-img">
            </div>
            <div class="col l8 card-content">
                <div class="opciones">
                    <a class='dropdown-button grey-text text-darken-3 tooltipped' href='#' data-activates='@proveedor.id_proveedor' data-position="opcionesCatalogo" data-delay="50" data-tooltip="Opciones">
                        <i class="material-icons right">more_vert</i>
                    </a>
                    <ul id='@proveedor.id_proveedor' class='dropdown-content'>
                        <li>
                            @Ajax.ActionLink("Detalles", "Details", "Proveedores", new { id = proveedor.id_proveedor }, new AjaxOptions
                               {
                                   UpdateTargetId = "detalle",
                                   HttpMethod = "GET"
                               }, new { @class = "", @onclick = "$('#detalle').modal('open');" })
                        </li>
                        <li>
                            @Ajax.ActionLink("Editar", "Edit", "Proveedores", new { id = proveedor.id_proveedor }, new AjaxOptions
                               {
                                   UpdateTargetId = "editar",
                                   HttpMethod = "GET"
                               }, new { @class = "", @onclick = "$('#editar').modal('open');" })
                        </li>
                        <li>
                            @Ajax.ActionLink("Eliminar", "Delete", "Proveedores", new { id = proveedor.id_proveedor }, new AjaxOptions
                               {
                                   UpdateTargetId = "eliminar",
                                   HttpMethod = "GET",
                               }, new { @class = "", @onclick = "$('#eliminar').modal('open');" })
                        </li>
                    </ul>
                </div>
                <span class="card-title truncate tooltipped" data-position="tituloCatalogo" data-delay="50" data-tooltip="@proveedor.razon_social">@proveedor.razon_social</span>
                <p>Tel: @proveedor.telefono</p>
                @if (proveedor.Estado == true)
                {
                    <p>Activo</p>
                }
                else
                {
                    <p>Inactivo</p>
                }
            </div>
        </div>
    </div>
}