@model AmilcarComercial.Models.Tbl_Sucursal


<div class="sucursal-detalle blue-grey darken-4">
    <div class="row white z-depth-1">
        <h4 class="grey-text text-darken-3 left-align"><i class="material-icons">info</i>Sucursal: @Model.Nombre</h4>
    </div>
    <div class="modal-content row white-text">
        <div class="contenedor-img col l4">
            <figure>
                <img src="~/Content/images/sucursales/@Model.imagen" class="responsive-img"/>
                <figcaption class="center-align">Imagen del Local</figcaption>
            </figure>
        </div>
        <div class="col l8">
            <strong>Gerente:</strong>
            <p>Francisco Fernandez</p>
            <p><strong>Telefono:</strong> @Model.Telefono</p>
            <p><strong>Correo:</strong> @Model.Correo</p>
            <strong>Direccion:</strong>
            <p>@Model.Direccion</p>
            <div class="acciones col l12 right-align">
                @Ajax.ActionLink("Editar", "Edit", "Sucursales", new { id = Model.id_sucursal }, new AjaxOptions
                {
                    UpdateTargetId = "editar",
                    HttpMethod = "GET"
                }, new { @class = "btn btn-flat white blue-text", @onclick = "$('#editar').modal('open');" })
                    @Ajax.ActionLink("Eliminar", "Delete", "Sucursales", new { id = Model.id_sucursal }, new AjaxOptions
                {
                    UpdateTargetId = "eliminar",
                    HttpMethod = "GET"
                }, new { @class = "btn btn-flat white red-text", @onclick = "$('#eliminar').modal('open');" })
            </div>
        </div>
    </div>
</div>

