@model IEnumerable<AmilcarComercial.Models.Tbl_Sucursal>

@{
    ViewBag.Title = "Configuracion";
    ViewBag.SubTitle = "Sucursales";
    ViewBag.ControllerGeneral = "Home";
    ViewBag.PrimaryColor = "blue-grey darken-4";
    ViewBag.NavExtendedColor = "blue-grey darken-3";
}

<nav class="breadcrumb-nav nav-extended @ViewBag.NavExtendedColor">
    @Html.Partial("_breadcrumbPartial")
</nav>

<div class="row titulo-catalogo">
    <div class="container-mio">
        <div class="col l12">
            <h5>Lista de Sucursales</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="container-mio sucursales" id="sucursales">
        @foreach (var sucursal in Model)
        {
            <div class="col l4">
                <div class="card hoverable">
                    <div class="card-image blue-grey darken-3">
                        <div class="opciones">
                            <a class='dropdown-button white-text tooltipped' href='#' data-activates='@sucursal.id_sucursal' data-position="opcionesCatalogo" data-delay="50" data-tooltip="Opciones">
                                <i class="material-icons right">more_vert</i>
                            </a>
                            <ul id='@sucursal.id_sucursal' class='dropdown-content'>
                                <li>
                                    @Ajax.ActionLink("Detalles", "Details", "Sucursales", new { id = sucursal.id_sucursal }, new AjaxOptions
                                    {
                                        UpdateTargetId = "detalle",
                                        HttpMethod = "GET"
                                    }, new { @class = "", @onclick = "$('#detalle').modal('open');" })
                                </li>
                                <li>@Ajax.ActionLink("Editar", "Edit", "Sucursales", new { id = sucursal.id_sucursal }, new AjaxOptions
                                   {
                                       UpdateTargetId = "editar",
                                       HttpMethod = "GET"
                                   }, new { @class = "", @onclick = "$('#editar').modal('open');" })</li>
                                <li>
                                    @Ajax.ActionLink("Eliminar", "Delete", "Sucursales", new { id = sucursal.id_sucursal }, new AjaxOptions
                               {
                                   UpdateTargetId = "eliminar",
                                   HttpMethod = "GET",
                                   InsertionMode = InsertionMode.Replace
                               }, new { @class = "", @onclick = "$('#eliminar').modal('open');" })
                            </li>

                            </ul>
                        </div>
                        <img src="~/Content/images/sucursales/@sucursal.imagen">
                        <span class="card-title">@sucursal.Nombre</span>
                    </div>
                    <div class="card-content">
                        <p class="truncate">Gerente: Francisco Fernandez</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>  
<div class="fixed-action-btn">
    @Ajax.ActionLink("add", "Create", "Sucursales", new AjaxOptions
    {
        UpdateTargetId = "nuevo", // <-- DOM element ID to update
        InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
        HttpMethod = "GET" // <-- HTTP method,
    } ,new { @class = "modal-trigger btn-floating btn-large pink pulse material-icons", @onclick = " $('#nuevo').modal('open');" })
</div> 

<div id="detalle" class="modal modal-small"></div>
<div id="nuevo" class="modal modal-middle">
    <div class="sucursal-nuevo blue-grey darken-4">
        <div class="row white z-depth-1">
            <h4 class="grey-text text-darken-4 left-align"><i class="material-icons">add_box</i>Nueva Sucursal</h4>
        </div>
        <div class="modal-content row white-text">
            <div class="row">
                <div class="col l3">
                    <div class="col l12">
                        <form action="~/Utilities/SaveUploadedFile/2" method="post" enctype="multipart/form-data" class="dropzone" id="my-dropzone" style="width: 50px; background: none; border: none;">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                                <input type="submit" value="Upload" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col l9">
                    <form action="/Sucursales/Create" method="post">
                        @Html.AntiForgeryToken()
                        <div class="input-field col l8">
                            <input name="Nombre" id="Nombre" class="validate" type="text" autofocus />
                            <label for="Nombre">Nombre de la Sucursal</label>
                        </div>
                        <div class="input-field col l4">
                            @Html.DropDownList("Gerente", null, "Seleccione", htmlAttributes: new { @class = "form-control" })
                            <label>Gerente</label>
                        </div>
                        <div class="input-field col l8">
                            <input name="Direccion" id="Direccion" class="validate" type="text"/>
                            <label for="Direccion">Direccion</label>
                        </div> 
                        <div class="input-field col l4">
                            <input name="Telefono" id="Telefono" class="validate" type="text"/>
                            <label for="Telefono">N° Telefono</label>
                        </div>
                        <div class="input-field col l6">
                            <input name="Correo" id="Correo" class="validate" type="text"/>
                            <label for="Correo">Correo Electronico</label>
                        </div>                                          
                        <div class="col l6">
                            <span><strong>Estado:</strong></span>
                            <div class="col l12 center-align">
                                <div class="switch">
                                    <label class="white-text">
                                        Inactivo
                                        <input type="checkbox">
                                        <span class="lever"></span>
                                        Activo
                                    </label>
                                </div>
                            </div>
                        </div>                        
                        <div class="col l12 right-align">
                            <br />
                            <button class="btn btn-flat white red-text" type="reset" onclick="$('#nuevo').modal('close')">Cancelar</button>
                            <button class="btn btn-flat white blue-grey-text text-darken-4" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>                
            </div>            
        </div>
    </div>
</div>
<div id="editar" class="modal modal-middle"></div>
<div id="eliminar" class="modal modal-mini"></div>


@section Styles{
    @Styles.Render("~/Content/dropzone")
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dropzone")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.modal').modal();
            $('.tooltipped').tooltip({ delay: 50 });
            $('select').material_select();
        });
        //File Upload response from the server
        Dropzone.autoDiscover = true;
        Dropzone.options.myDropzone = {
            paramName: "file",
            uploadMultiple: false,
            maxFiles: 1,
            addRemoveLinks: true,
            init: function () {
                this.on("complete", function (data) {
                    //var res = eval('(' + data.xhr.responseText + ')');
                    var res = JSON.parse(data.xhr.responseText);
                });
            }
        };
        function OnSuccess() {
            Materialize.toast('Sucursal Agregada Correctamente', 4000);
            $('#nuevo').modal('close');
        }
        function OnDelete() {
            Materialize.toast('Sucursal Eliminada Correctamente', 4000);
            $('#eliminar').modal('close');
        }
        function OnEdit() {
            Materialize.toast('Sucursal Editada Correctamente', 4000);
            $('#editar').modal('close');
        }
    </script>
}