@model IEnumerable<AmilcarComercial.Models.Tbl_Sucursal>

@{
    Layout = null;
}

@foreach (var sucursal in Model)
{
    <div class="col l4">
        <div class="card hoverable">
            <div class="card-image blue-grey darken-3">
                <div class="opciones">
                    <a class='dropdown-button white-text' href='#' data-activates='@sucursal.id_sucursal'>
                        <i class="material-icons right">more_vert</i>
                    </a>
                    <ul id='@sucursal.id_sucursal' class='dropdown-content'>
                        <li>
                            @Ajax.ActionLink("Detalles", "Details", "Sucursales", new { id = sucursal.id_sucursal }, new AjaxOptions
                               {
                                   UpdateTargetId = "detalle",
                                   HttpMethod = "GET"
                               }, new { @class = "", @onclick = "$('#detalle').modal('open');" })
                        </li>
                        <li>
                            @Ajax.ActionLink("Editar", "Edit", "Sucursales", new { id = sucursal.id_sucursal }, new AjaxOptions
                               {
                                   UpdateTargetId = "editar",
                                   HttpMethod = "GET"
                               }, new { @class = "", @onclick = "$('#editar').modal('open');" })
                    </li>
                    <li>
                        @Ajax.ActionLink("Eliminar", "Delete", "Sucursales", new { id = sucursal.id_sucursal }, new AjaxOptions
                               {
                                   UpdateTargetId = "eliminar",
                                   HttpMethod = "GET",
                                   InsertionMode = InsertionMode.Replace
                               }, new { @class = "", @onclick = "$('#eliminar').modal('open');" })
                    </li>

                </ul>
            </div>
            <img src="~/Content/images/sucursales/@sucursal.imagen">
            <span class="card-title">@sucursal.Nombre</span>
        </div>
        <div class="card-content">
            <p class="truncate">Gerente: Francisco Fernandez</p>
        </div>
    </div>
</div>
}