@model AmilcarComercial.Models.Tbl_Clientes

@{ 
    Layout = null;
}

<div class="cliente-nuevo pink">
    <div class="row white z-depth-1">
        <h4 class="grey-text text-darken-3 left-align"><i class="material-icons">add_box</i>Agregar Nuevo Cliente</h4>
    </div>
    <div class="modal-content row white-text">
        <div class="col l4">
            <div class="col l12">
                <img src="~/Content/system-resources/clientes.png" class="responsive-img"/>
            </div>
        </div>
        <div class="col l8">
            @using (Ajax.BeginForm("Create", "Clientes", new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "clientes",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "OnSuccess"
            }))
            {
                @Html.AntiForgeryToken()
                <div class="input-field col l6">
                    @Html.EditorFor(model => model.nombre_cliente, new { htmlAttributes = new { @class = "" } })
                    <label for="nombre_cliente">Nombre del Cliente</label>
                    @Html.ValidationMessageFor(model => model.nombre_cliente, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col l6">
                    @Html.EditorFor(model => model.apellidos_cliente, new { htmlAttributes = new { @class = "form-control" } })
                    <label for="apellidos_cliente">Apellidos del Cliente</label>
                    @Html.ValidationMessageFor(model => model.apellidos_cliente, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col l6">
                    @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                    <label for="telefono">N° Telefono</label>
                    @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col l6">
                    @Html.EditorFor(model => model.cedula, new { htmlAttributes = new { @class = "form-control" } })
                    <label for="cedula">N° Cedula</label>
                    @Html.ValidationMessageFor(model => model.cedula, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col l7">
                    @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
                    <label for="direccion">Direccion Domiciliar</label>
                    @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col l5">
                    @Html.DropDownList("departamento", null, htmlAttributes: new { @class = "form-control" })
                    <label for="departamento">Departamento</label>
                    @Html.ValidationMessageFor(model => model.departamento, "", new { @class = "text-danger" })
                </div>
                <div class="acciones col l12 right-align">
                    <button class="btn btn-flat white red-text" type="reset" onclick="$('#nuevo').modal('close')">Cancelar</button>
                    <button class="btn btn-flat white blue-text" type="submit">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>