@model AmilcarComercial.Models.Tbl_Clientes

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id_cliente)
    <div class="row">
        <div class="col l4 red">
            sdfdsfdf
        </div>
        <div class="col l8">
            <div class="col l12">
                <span>Editar Cliente</span>
                <div class="divider-mio"></div>
            </div>
            <div class="input-field col l6">
                @Html.EditorFor(model => model.nombre_cliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.nombre_cliente, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.nombre_cliente, "", new { @class = "text-danger" })
            </div>
            <div class="input-field col l6">
                @Html.EditorFor(model => model.apellidos_cliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.apellidos_cliente, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.apellidos_cliente, "", new { @class = "text-danger" })
            </div>
            <div class="input-field col l6">
                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
            </div>
            <div class="input-field col l6">
                @Html.EditorFor(model => model.cedula, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.cedula, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.cedula, "", new { @class = "text-danger" })
            </div>
            <div class="input-field col l7">
                @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
            </div>
            <div class="input-field col l5">
                @Html.EditorFor(model => model.departamento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.departamento, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.departamento, "", new { @class = "text-danger" })
            </div>
            <div class="modal-footer">
                <div class="col l12">
                    <input type="reset" value="Cancelar" class="btn" />
                    <input type="submit" value="Editar" class="btn" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
