@model IEnumerable<AmilcarComercial.Models.Tbl_Clientes>

@{
    ViewBag.Title = "Catalogos";
    ViewBag.SubTitle = "Clientes";
    ViewBag.ControllerGeneral = "Home";
    ViewBag.PrimaryColor = "pink";
    ViewBag.SecundaryColor = "pink darken-1";
}

<nav class="breadcrumb-nav nav-extended @ViewBag.SecundaryColor">
    @Html.Partial("_breadcrumbPartial")
</nav>
<div class="row titulo-catalogo">
    <div class="container-mio">
        <div class="col l12">
            <h5>Lista de Clientes</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="container-mio clientes" id="clientes">
        @foreach (var cliente in Model)
        {
            <div class="col l4">
                <div class="card horizontal white hoverable">
                    <div class="col l4 contenedor-img pink">
                        <img src="~/Content/system-resources/clientes.png" class="responsive-img">
                    </div>
                    <div class="col l8 card-content white">
                        <div class="opciones">
                            <a class='dropdown-button grey-text text-darken-3 tooltipped' href='#' data-activates='@cliente.id_cliente' data-position="opcionesCatalogo" data-delay="50" data-tooltip="Opciones">
                                <i class="material-icons right">more_vert</i>
                            </a>
                            <ul id='@cliente.id_cliente' class='dropdown-content'>
                                <li>
                                    @Ajax.ActionLink("Detalles", "Details", "Clientes", new { id = cliente.id_cliente }, new AjaxOptions
                               {
                                   UpdateTargetId = "detalle",
                                   HttpMethod = "GET"
                               }, new { @class = "", @onclick = "$('#detalle').modal('open');" })
                                </li>
                                <li>
                                    @Ajax.ActionLink("Editar", "Edit", "Clientes", new { id = cliente.id_cliente }, new AjaxOptions
                               {
                                   UpdateTargetId = "editar",
                                   HttpMethod = "GET"
                               }, new { @class = "", @onclick = "$('#editar').modal('open');" })
                                </li>
                                <li>
                                    @Ajax.ActionLink("Eliminar","Delete", "Clientes", new { id = cliente.id_cliente }, new AjaxOptions
                               {
                                   UpdateTargetId = "eliminar",
                                   HttpMethod = "GET"
                               }, new  { @class = "", @onclick = "$('#eliminar').modal('open');" })
                                </li>
                            </ul>
                        </div>
                        <span class="card-title truncate tooltipped" data-position="tituloCatalogo" data-delay="50" data-tooltip="@cliente.nombre_cliente @cliente.apellidos_cliente">@cliente.nombre_cliente @cliente.apellidos_cliente</span>
                        <p>Dep: @cliente.Tbl_Departamentos.Nombre</p>
                        <p>Tel: @cliente.telefono</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>  
<div class="fixed-action-btn">
    @Ajax.ActionLink("add", "Create", "Clientes", new AjaxOptions
    {
        UpdateTargetId = "nuevo", // <-- DOM element ID to update
        InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
        HttpMethod = "GET" // <-- HTTP method,
    }, new { @class = "modal-trigger btn-floating btn-large blue-grey darken-4 pulse material-icons", @onclick = " $('#nuevo').modal('open');" })
</div>

<div id="detalle" class="modal modal-small cyan"></div>
<div id="nuevo" class="modal modal-middle cyan"></div>
<div id="editar" class="modal modal-middle cyan"></div>
<div id="eliminar" class="modal modal-mini cyan"></div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.modal').modal();
            $('.tooltipped').tooltip({ delay: 50 });
        });
        function OnSuccess() {
            Materialize.toast('Marca Agregada Correctamente', 4000);
            $('#nuevo').modal('close');
        }
        function OnDelete() {
            Materialize.toast('Marca Eliminada Correctamente', 4000);
            $('#eliminar').modal('close');
        }
        function OnEdit() {
            Materialize.toast('Marca Editada Correctamente', 4000);
            $('#editar').modal('close');
        }
    </script>
    @Scripts.Render("~/bundles/jqueryajax")
}