@model IEnumerable<AmilcarComercial.Models.Tbl_Clientes>

@foreach (var cliente in Model)
{
    <div class="col l4">
        <div class="card horizontal white hoverable">
            <div class="col l4 contenedor-img cyan">
                <img src="~/Content/system-resources/clientes.png" class="responsive-img">
            </div>
            <div class="col l8 card-content white">
                <div class="opciones">
                    <a class='dropdown-button grey-text text-darken-3 tooltipped' href='#' data-activates='@cliente.id_cliente' data-position="opcionesCatalogo" data-delay="50" data-tooltip="Opciones">
                        <i class="material-icons right">more_vert</i>
                    </a>
                    <ul id='@cliente.id_cliente' class='dropdown-content'>
                        <li>
                            @Ajax.ActionLink("Detalles", "Details", "Clientes", new { id = cliente.id_cliente }, new AjaxOptions
                               {
                                   UpdateTargetId = "detalle",
                                   HttpMethod = "GET"
                               }, new { @class = "", @onclick = "$('#detalle').modal('open');" })
                        </li>
                        <li>
                            @Ajax.ActionLink("Editar", "Edit", "Clientes", new { id = cliente.id_cliente }, new AjaxOptions
                               {
                                   UpdateTargetId = "editar",
                                   HttpMethod = "GET"
                               }, new { @class = "", @onclick = "$('#editar').modal('open');" })
                        </li>
                        <li>
                            @Ajax.ActionLink("Eliminar", "Delete", "Clientes", new { id = cliente.id_cliente }, new AjaxOptions
                               {
                                   UpdateTargetId = "eliminar",
                                   HttpMethod = "GET"
                               }, new { @class = "", @onclick = "$('#eliminar').modal('open');" })
                        </li>
                    </ul>
                </div>
                <span class="card-title truncate tooltipped" data-position="tituloCatalogo" data-delay="50" data-tooltip="@cliente.nombre_cliente">@cliente.nombre_cliente @cliente.apellidos_cliente</span>
                <p>Dep: @cliente.Tbl_Departamentos.Nombre</p>
                <p>Tel: @cliente.telefono</p>
            </div>
        </div>
    </div>
}