@using AmilcarComercial.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccountOptions.cshtml";
    ViewBag.Title = "Iniciar sesión";
}

<div class="login pink">
    <div class="login-container border-radius-4 white z-depth-2">
        <div class="row">
            <div class="col l6 login-info">
                <img src="~/Content/system-resources/logo-ejemplo.png" class="responsive-img"/>
                <h5>Amilcar Comercial</h5>
            </div>
            <div class="col l6 login-form">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="">
                        <div class="col l12">
                            <p class="flow-text">Iniciar Sesion</p>
                        </div>
                        <div class="input-field col l12">
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName, new { @class = "validate" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-field col l12">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="col l12">
                            @*@Html.CheckBoxFor(m => m.RememberMe)
                            <p>
                                <input type="checkbox" id="test5" />

                            </p>*@
                            <p>
                                <input id="RememberMe" name="RememberMe" type="checkbox" value="true">
                                <input name="RememberMe" type="hidden" value="false">
                                @Html.LabelFor(m => m.RememberMe)
                            </p>
                        </div>
                        <div class="row hide">
                            <input type="submit" value="Ingresar" class="btn white right grey-text text-darken-2"/>
                        </div>                      
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword", null, new { @Class = "white-text" })
        </p>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
          $(document).ready(function() {
            $('select').material_select();
          });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}